<header class="nav">
  <div class="wrap navbar3">
    <!-- Left: logo/brand -->
    <a class="brandRow" href="index.html#home" aria-label="Bara home">
  <span class="logoBox">
    <img src="assets/bara.jpg" alt="" class="logoInside">
  </span>
</a>



    <!-- Center: pill menu -->
    <nav class="pillNav">
      <a href="index.html#home">Home</a>
      <a href="index.html#about">About</a>
      <a href="index.html#arcade">Arcade</a> 
      <a href="index.html#swap">How to Buy</a>
      <a href="index.html#faq">FAQ</a>
    </nav>

    <!-- Right: CTA -->
    <div class="rightCta">
      <a class="btn pillCta" href="index.html#swap">Buy $BARA</a>
    </div>
  </div>
</header>
